body{
	background-color:white;
	opacity:0;
	@include tablet{
		opacity:1;
	}
}
.wrp {
	width:$width;
	max-width:$wide-width;
	margin:$margin;
}

footer {
	z-index:-1;
	opacity:.5;
	background-color:$color5;
	height:40px;
	width:$width;
	margin-top:30px;
	p{
		font-family:$source-sans;
		font-size:$font1x;
		line-height:40px;
		color:white;
		text-align:center;
	} 
}

.wrp-about {
	width:93.75%;
	position:relative;
	margin:$margin;
	top:0;
	@include tablet{
		top:-100%;
	}
	header{
		@include basicOutside(auto,auto,$margin,20px 0 0);		
		.header-wrp{	
			position:relative;
			@include colorChange;
			@include basicOutside(120px,120px,$margin,$padding);	
			@include tablet {
				@include basicOutside(160px,160px,$margin,$padding);	
			}
			img{
				opacity:1;
				@include tablet{
					opacity:0;
				}
				position:absolute;
				cursor:pointer;
				border-radius:50%;
				width:100%;
				@include animationSet;
			}
		}
	}

	.about-main{
		width:auto;
		height:auto;
		position:relative;
		.button-container{
			border-top:3px solid $color3;
			border-bottom:1px solid $color3;
			background-color:white;
			max-width:$wide-width;
			@include basicOutside($width,100px,25px auto,$padding);
			@include tablet{
				display:none;
				height:50px;
			}
			&.stuck{
				top:-25px;
				position:fixed;
				z-index:1000;
				@include centerAlign;

			}
			.greeting{
				position:relative;
				display:block;
				height:50px;
				width:295px;
				margin:$margin;
				@include tablet{
					float:left;
				}
				span{
					position:absolute;
					a {
						font-size:22px;
						line-height: 55px;
					}
					&:first-child{
						z-index:2;
						a{ 
							color:$color3;
							font-family:$ugo3d_pois;
						}
					}
					&:last-child{
						z-index:1;
						a{
							color:$color1;
							font-family:$ugocolor;
						}
					}					
				}							
			}

			.buttons{
				position:relative;
				display:block;
				@include basicOutside(255px,50px,$margin ,$padding);
				@include tablet{
					float:right;
				}

				li a{
					margin:0;
					padding:0;
					float:left;
					background-color:$color2;
					text-decoration:none;
					text-align:center;
					line-height:30px;
					border-radius:5px;
					border:1px solid $color3;
					font-family:$source-sans;
					color:$color3;
					@include basicOutside(70px,30px,0 5px 0 5px,$padding);
					@include tablet{
						margin:9px 5px 0 5px;
					}
				}
			}
		}

		.title-container{
			min-height:280px;
			position:relative;	
			font-size:80px;
			line-height:92px;
			margin-top:50px;
			@include tablet{
				font-size:100px;
				line-height:105px;
				min-height:380px;
			}			
			@include desktop{
				font-size:130px;
				line-height:135px;
			}
			p{
				@include textRotation;
				@include tablet{
					@include removeTextRotation;
				}
			}
			div{
				position:absolute;
				z-index:2;
				top:15px;
				@include centerAlign;
				p:last-child{
					font-size:$font5x;
					line-height:72px;
					@include tablet{
						font-size:100px;
						line-height:105px;
					}					
					@include desktop{
						font-size:110px;
						line-height:115px;
					}
				}			
			}
			.title{
				opacity:1;
				color:$color1;
				font-family:$ugocolor;
				@include tablet{
					opacity:0;
				}				
				p:last-child{
					color:$color2;
				}
			}			
			.title-line,.title-shadow{
				opacity:1;
				top:20px;
				color:$color3;
				@include tablet{
					opacity:0;
				}
			}
			.title-line{
				font-family:$ugoengreved;
			}
			.title-shadow{
				font-family:$ugo3d_rain;
			}					
		}
		.about-txt {
			opacity:1;
			font-family:$source-sans;
			font-size:$font1x;
			color:$color3;
			width:93.75%;
			margin:50px auto 0;
			@include tablet{
				opacity:0;
			}
			@include desktop{
				margin-top:100px;
			}
		}
	}
}




/* $ugoengreved: 'ugoengreved';
$ugoline: 'ugoline';
$ugo3d_color: 'ugo3d_color';
$ugo3d_pois: 'ugo3d_pois';
$ugo3d_rain: 'ugo3d_rain';
$ugocolor: 'ugocolor'; */

