.overlay {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	background-color: rgba(49, 47, 68, .85);
	text-align: center; 
	.contact-container {
		width:$width;
		height:$height;
		margin:0 auto;
		position:relative;
		overflow:auto;
		background:$color4;
		@include centerAlign;
		@include colorChange;
		@include tablet{
			width:93.75%;
			max-width:640px;
			background:none;
		    @include removeCenter;		
		}
		.form-container{
			width:$width;
			position:absolute;
			background:$color4;
			margin:0 auto;
			font-family:$ugocolor;
			font-size:$font3x;
			color:$color3;	
			@include centerAlign;	
			@include tablet{
				width:99%;
				border:3px solid $color3;
				border-radius:20px;
				@include removeCenter;				
				@include verticalAlign;
			}			
		}
		h2{
			padding:20px 0 0;
			margin:$margin;
		}
		.status{
			color:$color1;
			font-family:$source-sans;
			font-size:$font1x;
		}

		form{
			input, textarea{
				width:93.75%;
				border:0;
				border:1px solid $color3;
				margin:5px 0;
				padding:5px 0 5px 5px;
				color:$color3;
				font-family:$source-sans;
				font-size:$font1x;
			}
			textarea{
				min-height:150px;
			}
			label{
				display:none;
			}
		}

		.button-container{
			width:93.75%;
			margin:$margin;
			.cancel{
				float:left;
				border:3px solid $color3;
				height:30px;
				line-height:30px;
				cursor:pointer;
			}

			button{
				float:right;
				background:$color3;
				color:$color1;
				height:36px;
				border:0;
			}

			.cancel, button{
				width:45%;
				font-family:$source-sans;
				font-size:$font1x;
				margin-bottom:25px;
			}
		}
	}
}

