$mobile-width: 480px;
$tablet-width:768px;
$desktop-width:980px;
$wide-width: 1140px;


$color1: #e68189; //rgba(230, 129, 137, 100)
$color2: #8ecbc4; //rgba(142, 203, 196, 100)
$color3: #312f44; //rgba(49, 47, 68, 100)
$color4: #fdf7df; //rgba(253, 247, 223, 100)
$color5: #8b8c8e; //rgba(139, 140, 142, 100)

$ugoengreved: 'ugoengreved';
$ugoline: 'ugoline';
$ugo3d_color: 'ugo3d_color';
$ugo3d_pois: 'ugo3d_pois';
$ugo3d_rain: 'ugo3d_rain';
$ugocolor: 'ugocolor';
$VT323: 'VT323';
$source-sans:'Source Sans Pro', sans-serif;

$font-weight-100: 100;
$font-weight-300: 100;
$font-weight-400: 100;
$font-weight-500: 100;
$font-weight-700: 100;

$font1x : 18px;
$font2x : 22px;
$font3x : 28px;
$font4x : 36px;
$font5x : 48px;
$font6x : 52px;


$width:100%;
$height:100%;
$margin: 0 auto;
$padding: 0;

$position:relative;
$top:0;
$left:0;
$z-index:1;
